
body {
    background-color: #ebefe2;
  }

.sidenav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color: #bfcfbe;
    overflow-x: hidden;
    padding-top: 30px;
  }

  .datetime {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    font-family:monospace;
    border: solid;
    border-radius: 20px;
    border-color: #bdcabc;
    background-color: #ffe6e0;
    margin: 5px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    font-family:monospace;
    border: solid;
    border-radius: 20px;
    border-color: #bdcabc;
    background-color: #fffdf4;
    margin: 5px;
  }
 
  .sidenav a:hover {
   opacity: 50%;
  }
  
  .main {
    margin-left: 200px;
    padding: 0px 10px;
  
  }

.card1 {
    background-color: white;
    margin: 30px;
    display: flex;
    height: 150px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(224, 222, 222);
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


input {
    padding: 15px;
    border-radius: 5px;
    border: solid;
    border-color: #eee4bc;
    width: 500px;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: solid;
    border-color: #eee4bc;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(240, 234, 234);

}
button:hover {
   opacity: 50%;
}
.addBtn {
    width: 70px;
}
.btnRensa {
    margin-top: 10px;
    margin-left: 45%;
}
.card2 {
    background-color: white;
    margin: 50px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(224, 222, 222);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
table {
    width: 100%;  
}

td, th {
    padding: 10px;
    border: 1px solid #eee4bc;
    border-radius: 10px;
}

.myCheck {
    width: 20px;
    height: 20px;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }