/*Bakgrund för sidan*/
body {
    background-color: #ebefe2;
  }

  /*Sidebar*/
.sidenav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
background-color: #bfcfbe;
    overflow-x: hidden;
    padding-top: 30px;
    box-shadow: 5px 4px 10px rgba(166, 166, 166, 0.287);
  }

  /*Dagens datum*/
  .datetime {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    font-family:monospace;
    border: solid;
    border-radius: 20px;
    border-color: #b2bbb1;
    border-width: thin;
    background-color: #ffe6e0;
    margin: 5px;
  }
  
  /*Länkar i sidebar*/
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: block;
    font-family:monospace;
    border: solid;
    border-radius: 20px;
    border-color: #b2bbb1;
    border-width: thin;
    background-color: white;
    margin: 5px;
  }
 
  .sidenav a:hover {
   opacity: 70%;
  }
  /* Dölj hamburgermenyn på stora skärmar */
.hamburger {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    background: white;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 50%;
    box-shadow: none;
}

.hamburger i {
    font-size: 24px;
}


  .main {
    margin-left: 200px;
    padding: 0px 10px;
  
  }


.card1 {
    background-color: white;
    margin: 30px;
    display: flex;
    height: 150px;
    border-radius: 20px;
    box-shadow: 8px 4px 5px rgba(166, 166, 166, 0.287);
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


input {
    padding: 15px;
    border-radius: 5px;
    border: solid;
    border-color: #bfcfbe;
    width: 500px;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: solid;
    border-color: #bfcfbe;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(166, 166, 166, 0.287);

}
button:hover {
   opacity: 50%;
   
}
.addBtn {
    width: 70px;
}
.btnRensa {
    margin-top: 10px;
    margin-left: 45%;
}
.card2 {
    background-color: white;
    margin: 50px;
    margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 8px 4px 5px rgba(166, 166, 166, 0.287);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

table {
    table-layout: auto; /* eller 'fixed' om du vill ha strikt kontroll */
    width: 100%; 
    border-collapse: collapse; /* Valfritt, tar bort mellanrum mellan celler */  
}


td, th {
    padding: 10px;
    border-bottom: solid;
    border-color: #bfcfbe;;

}
.tdCheck {
    width: 1%; /* Gör kolumnen så liten som möjligt */
    padding: 0; /* Tar bort all padding */
    margin: 0; /* Tar bort margin */
    text-align: center; /* Centrerar innehållet (valfritt) */
    white-space: nowrap; /* Förhindrar att innehållet bryts */
}

i {
    margin-left: 15px;
}

i:hover {
opacity: 50%;
}
.myCheck {
    width: 20px;
    height: 20px;
}
ul {
    list-style: none;

}
.weekInput {
    padding: 10px;
    
    width: 60%;
}
.addBtn2 {
    padding: 10px;
}
/* Visa hamburgermenyn och dölj sidomenyn på mindre skärmar */
@media screen and (max-width: 950px) {
    .sidenav {
        display: none;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #bfcfbe;
        z-index: 1;
    }

    .sidenav.active {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .main {
        margin-left: 0;
    }
    input {
        width: 100%;
        margin-bottom: 10px;
    }


    button {
        width: 100%;
        margin-bottom: 10px;
    }

    .card1, .card2 {
        margin: 20px 10px;
        padding: 20px;
        height: 100%;
    }

    .btnRensa {
        margin-left: 0;
        width: 100%;
    }

    table {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {
    .card1, .card2 {
        margin: 2px;
        padding: 20px;
        box-shadow: none;
        margin-bottom: 20px;
    }
    
    button {
        box-shadow: none;
    }

}
